{extend name="public/base" /}
{block name="css"}
<style class="text/css">
	.table tbody tr.active,.table tbody tr.active>td,.table tbody tr.active>th,.table tbody tr .active{background-color:#F5F5F5!important}
</style
{/block}

{block name="body"}
<article class="page-container" style="padding:0;">
	<form class="form form-horizontal" id="form-menu-add" action="" method="post">
		<input type="hidden" name="role_id" value="<{$result.role_id}>">
		<table class="table table-border table-bg table-bordered layer-table">
			<tbody>

			<tr>

				<th class="title">角色名</th>
				<td>
					<input type="text" class="input-text" value="<{$result.role_name}>" name="role_name">
				</td>

				<th class="title">状态</th>
				<td>
					<div class="radio-box">
						<input name="role_status" type="radio" id="status-1" value="0" {if condition="$result['role_status'] eq '0'"}checked{/if} >
						<label for="status-1">有效</label>
					</div>
					<div class="radio-box">
						<input type="radio" id="status-2" value="1" name="role_status" {if condition="$result['role_status'] eq '1'"}checked{/if} >
						<label for="status-2">无效</label>
					</div>
				</td>

			</tr>

			<tr class="form-btn">
				<td colspan="4">
					<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
				</td>

			</tr>

			</tbody>

		</table>
	</form>
</article>
{/block}


{block name="javascript"}
<script type="text/javascript" src="__LIB__/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript">

    $(function(){
        $("#form-menu-add").validate({
            rules:{
                role_name:{
                    required:true,
                },
                role_status:{
                    required:true,
                }
            },messages: {
                role_name: {
                    required: '请输入角色名称!'
                },
                role_status: {
                    required: '请选角色状态!'
                }
            },
            onkeyup:false,
            focusCleanup:false,
            success:"valid",
            submitHandler:function(form){
                $(form).ajaxSubmit({success:function(data){
                    if(data.status == 'y'){
                        parent.layer.msg('修改成功！',{time:1500,icon:1},function(){
                            parent.location.reload();
                        });
                        return false;
                    }else{
                        parent.layer.msg(data.msg,{icon:5});
                    }
                }
                });

            }
        });


    });
</script>
{/block}