{extend name="public/base" /}

{block name="css"}


{block name="body"}
<{:get_page_nav()}>

<div class="page-container">
	<table class="table table-border table-bg table-bordered">
		<thead>
		<tr class="text-c">
			<th>token</th>
			<th colspan="4">内容</th>
		</tr>
		</thead>
		<tbody>
		{foreach name="cplConfigs" item="data" key="token" }
		<tr class="text-c">
			<td rowspan="3"><{$token}></td>
		</tr>
		<tr class="text-c">
			<th>标题</th>
			<td><{$data.title}></td>
		</tr>
		<tr class="text-c">
			<th>渠道id</th>
			<td><{$data.platform}></td>
		</tr>
		{/foreach}
		</tbody>
	</table>
</div>
{/block}