{extend name="public/base" /}

{block name="body"}
<{:get_page_nav()}>

<div class="page-container">
    <form method="get" action="">
        <div class="text-c">
            <input type="text" id="start-date" name="start_date" value="<?php echo isset($_GET['start_date']) ? $_GET['start_date'] : ''?>" class="input-text Wdate" style="width:120px;">
            -
            <input type="text" id="end-date" name="end_date" value="<?php echo isset($_GET['end_date']) ? $_GET['end_date'] : ''?>" class="input-text Wdate" style="width:120px;">

            <span class="select-box" style="width:200px;">
            <select class="select" name="g_c_id">
                <?php foreach($channel_list as $game_id=>$channel):?>
                <optgroup label="<?php echo $game_ids[$game_id];?>">
                    <?php foreach($channel as $cid=>$cname):?>
                    <option value="<?php echo $game_id.'_'.$cid;?>" <?php if($game_id==$g_id && $c_id==$cid):?>selected="selected"<?php endif;?> ><?php echo $game_ids[$game_id]."-".$cname."({$cid})";?></option>
                    <?php endforeach;?>
                </optgroup>
                <?php endforeach;?>
            </select>
            </span>
            <button type="submit" class="btn btn-success" name="search"><i class="Hui-iconfont">&#xe665;</i> 查询</button>
        </div>
    </form>
    <div style="margin-top:20px;min-width:1200px;overflow-x: auto;">
    <table class="table table-border table-bordered table-bg" style="width:100%;">
        <thead style="width:100%;">
        <tr class="text-c">
            <th width="70">时间</th>
            <th width="60">渠道</th>
            <th width="60">总流水</th>
            <th width="60">新增用户</th>
            <th width="60">付费人数</th>
            <th width="60">登陆用户数</th>
            <th width="60">次日留存</th>
            <th width="60">3日留存</th>
            <th width="60">7日留存</th>
            <th width="60">30日留存</th>
            <th width="40">arppu</th>
            <th width="60">单登入用户价值</th>
            <th width="60">单新增用户价值</th>
            <th width="60">CPL消耗</th>
            <th width="80">总流水-CPL消耗</th>
        </tr>
        </thead>
        <tbody>
        <?php if($list):?>
        <?php
            function virtual_echo($attr,$key,$val,$fun=''){
                $ret = 0;
                if(isset($attr[$key]) && $attr[$key] > 0){
                    $ret = $val*($attr[$key]/100);
                }else{
                    $ret = intval($val);
                }
                if($ret >0 && $ret < 1)$ret = 1;
                $fun = $fun ? strtolower($fun) : $fun;
                switch($fun){
                    case "int":
                        //$ret = intval($ret);
                        break;
                    case "ceil":
                        $ret = ceil($ret);
                        break;
                }
                return $ret;
            }
        ?>
        <?php foreach($list as $k=>$v):?>
        <?php
            $logData = json_decode($v['log_data'],true);
            $logData['login_cnt'] = isset($logData['login_cnt']) ? $logData['login_cnt'] : 0;
            $logData['login_new_cnt'] = isset($logData['login_new_cnt']) ? $logData['login_new_cnt'] : 0;
            $logData['pay_money'] = isset($logData['pay_money']) ? $logData['pay_money'] : 0;
            $logData['pay_user_cnt'] = isset($logData['pay_user_cnt']) ? $logData['pay_user_cnt'] : 0;
            $logData['stay'] = isset($logData['stay']) ? $logData['stay'] : [1=>0,3=>0,7=>0,30=>0];

            $logData['pay_money'] = $logData['pay_money']/100;
        ?>
        <tr class="text-c">
            <td><?php echo date('Y-m-d',$v['log_time']);?></td>
            <td><?php echo $channel_list[$g_id][$v['channel_id']];?></td>
            <td>
            <?php
                echo $logData['pay_money'];
            ?>
            </td>
            <td>
                <?php
                    echo $logData['login_new_cnt'];
                ?>
            </td>
            <td>
                <?php echo $logData['pay_user_cnt'];?>
            </td>
            <td>
                <?php echo $logData['login_cnt'];?>
            </td>
            <td><?php echo ($logData['login_new_cnt'] > 0 && !empty($logData['stay'][1])) ? sprintf('%.2f%%',($logData['stay'][1]/$logData['login_new_cnt'])*100): '';?></td>
            <td><?php echo ($logData['login_new_cnt'] > 0 && !empty($logData['stay'][3])) ? sprintf('%.2f%%',($logData['stay'][3]/$logData['login_new_cnt'])*100): '';?></td>
            <td><?php echo ($logData['login_new_cnt'] > 0 && !empty($logData['stay'][7])) ? sprintf("%.2f%%",($logData['stay'][7]/$logData['login_new_cnt'])*100) : '';?></td>
            <td><?php echo ($logData['login_new_cnt'] > 0 && !empty($logData['stay'][30])) ? sprintf("%.2f%%",($logData['stay'][30]/$logData['login_new_cnt'])*100) : '';?></td>

            <!--arppu -->
            <td><?php echo $logData['pay_user_cnt'] > 0 ? round($logData['pay_money']/$logData['pay_user_cnt'],2) : 0;?></td>
            <td><?php echo $logData['login_cnt'] > 0 ? round($logData['pay_money']/$logData['login_cnt'],2) : 0;?></td>
            <td><?php echo $logData['login_new_cnt'] > 0 ? round($logData['pay_money']/$logData['login_new_cnt'],2) : 0;?></td>
            <td>-</td>
            <td>-</td>
        </tr>
        <?php endforeach;?>
        <?php endif;?>
        </tbody>
    </table>
    </div>
    <div class="dataTables_wrapper no-footer">
        <{$page}>
    </div>

</div>
{/block}
{block name="javascript"}

<script type="text/javascript" src="__LIB__/laydate/laydate.js"></script>

<script type="text/javascript">

    $(function () {
        laydate.render({
            elem: '#start-date' //指定元素
        });
        laydate.render({
            elem: '#end-date' //指定元素
        });
    })


    function del_user(id,msg){
        if(!id){return false;}
        layer.confirm(msg,function(){
            $.ajax({
                url:'<{:URL("User/ajax_delete")}>',
                type:'POST',
                dataType:'json',
                data:{'id':id},
                success:function(data){
                    if(data.status == 'y'){
                        layer.msg(data.msg,{icon:1},function(){
                            window.location.reload();
                        });
                    }else{
                        layer.msg(data.msg,{icon:5});
                    }
                },
                error:function(){
                    layer.msg('服务器错误',{icon:5});
                }
            });
        });
    }
</script>
{/block}