{extend name="public/base" /}

{block name="css"}
<style type="text/css">
    .table tbody tr.active,.table tbody tr.active>td,.table tbody tr.active>th,.table tbody tr .active{background-color:#F5F5F5!important}
    label.error{top:12px;}
    .input-text[type="number"]{width:100%;}
    .teacher-info-hide{display: none;}
    #token-error{right:47px;}
    .goods{margin-bottom:10px;}
    .goods-count{width:180px;}


</style>
{/block}

{block name="body"}
<article class="page-container" style="padding:0;">
    <form class="form form-horizontal" id="form-menu-add" action="" method="post">
        <table class="table table-border table-bg table-bordered layer-table">
            <tbody>
            <tr>
                <th class="title">场次</th>
                <td>
                    <span class="select-box" style="width:200px;">
                    <select class="select" name="tb_type" id="tb_type">
                        <option value="">请选择场次</option>
                        <?php foreach($hide_pool_tb_type as $k=>$v):?>
                            <option value="<{$k}>" ><{$v}></option>
                        <?php endforeach;?>
                    </select>
                    </span>
                </td>
            </tr>

            <tr>

                <th class="title">修改值</th>
                <td>
                   <input type="text" name="value" class="input-text" id="value">
                </td>
            </tr>

            <tr class="form-btn">
                <td colspan="2">
                    <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;修改&nbsp;&nbsp;">
                </td>

            </tr>

            </tbody>

        </table>
    </form>
</article>



{/block}

{block name="javascript"}
<script type="text/javascript" src="__LIB__/laydate/laydate.js"></script>
<script type="text/javascript" src="__LIB__/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript">

    $(function(){

        var submitFalg = false;

        $("#form-menu-add").validate({
            rules:{
                tb_type:{
                    required:true
                },
                value:{
                    required:true,
                }
            },messages: {
                tb_type: {
                    required: '请选择场次'
                },
                value: {
                    required: '请输入值!'
                }
            },
            onkeyup:false,
            focusCleanup:false,
            success:"valid",
            submitHandler:function(form){
                if(submitFalg){
                    return false;
                }
                submitFalg = true;
                $(form).ajaxSubmit({ beforeSend: function(){
                  // Handle the beforeSend event
                    loading_show('修改中...');
                    submitFalg = true;
                },success:function(data){
                    if(data.status == 'y'){
                        parent.layer.msg(data.msg,{time:1500,icon:1},function(){
                            parent.location.reload();
                        });
                        return false;
                    }else{
                        parent.layer.msg(data.msg,{icon:5});
                    }
                    submitFalg = false;
                },error:function(){
                    submitFalg = false;
                },complete:function () {
                    loading_hide();
                    submitFalg = false;
                }
                });
            }
        });


    });

</script>
{/block}