{extend name="public/base" /}
{block name="body"}
<{:get_page_nav()}>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a href="javascript:;" onclick="layer_show('添加菜单','add.html','700','380')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加菜单</a>
        </span>
    </div>
    <table class="table table-border table-bg">
        <thead>
        <tr class="text-c">
            <th width="40">ID</th>
            <th width="150">菜单名称</th>
            <th width="100">管理</th>
        </tr>
        </thead>
        <tbody>
        <{$categorys}>
        </tbody>
    </table>
</div>
{/block}

{block name="javascript"}
<script type="text/javascript">
    function del_menu(id,msg){
        if(!id){return false;}
        layer.confirm(msg,function(){
            $.ajax({
                url:'<{:URL("Menu/ajax_delete")}>',
                type:'POST',
                dataType:'json',
                data:{'id':id},
                success:function(data){
                    if(data.status == 'y'){
                        layer.msg(data.msg,{icon:1},function(){
                            window.location.reload();
                        });
                    }else{
                        layer.msg(data.msg,{icon:5});
                    }
                },
                error:function(){
                    layer.msg('服务器错误',{icon:5});
                }
            });
        });
    }
</script>
{/block}