<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" type="text/css" href="__LIB__/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__LIB__/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__ADMIN__/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/style.css?v=<{$Think.const.THINK_START_TIME}>" />
    <style type="text/css">
          .do-action{font-size: 20px;}
          .Wdate {
              background: #fff url(__LIB__/My97DatePicker/skin/datePicker.gif) no-repeat right;
          }
          #loading{display:none;background-color: rgba(1,1,1,0.6);position: absolute;top:0;bottom: 0;left:0;right:0;}
          .loading-wall{text-align: center;color:#fff;width:300px;height:32px;position:absolute;top:50%;left:50%;margin-left:-150px;margin-top:-16px;}
          .loading-content{display:inline-block;background: url("__ADMIN_IMAGE__/loading.gif") no-repeat left;background-size: 16px;text-align:left;line-height:32px;vertical-align: middle;padding-left:22px;}
    </style>
    {block name="css"}{/block}
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__LIB__/html5shiv.js"></script>
    <script type="text/javascript" src="__LIB__/respond.min.js"></script>
    <![endif]-->

    <!--[if IE 6]>
    <script type="text/javascript" src="__LIB__/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>{block name="title"}{/block}</title>
</head>
<body>
{block name="body"}{/block}
<div id="loading">
    <div class="loading-wall"><div class="loading-content"></div></div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__LIB__/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__LIB__/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__LIB__/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__ADMIN_JS__/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

{block name="javascript"}{/block}

<script type="text/javascript">

    function alter_error(msg,param){

        layer.msg(msg, {icon: 5},function(){

        });
    }

    function alter_success(msg,opt){
        layer.msg(msg, {icon: 1},function(){

        });
    }

    function parent_reload(){
        alert(1);
        window.location.reload();
    }
    /*
        参数解释：
        title	标题
        url		请求的url
        id		需要操作的数据id
        w		弹出层宽度（缺省调默认值）
        h		弹出层高度（缺省调默认值）
    */
    /*管理员-增加*/
    function public(title,url,w,h){
        layer_show(title,url,w,h);
    }

    function admin_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }

    function show_push_config(callback) {
        var url = "<{:url('public_push_config','callback=__callback__')}>";
        url = url.replace(/__callback__/,callback);
        layer_show("更新缓存",url,360,200);
    }

    /*管理员-删除*/
    function admin_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                type: 'POST',
                url: '',
                dataType: 'json',
                success: function(data){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }

    /*管理员-编辑*/
    function admin_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*管理员-停用*/
    function admin_stop(obj,id){
        layer.confirm('确认要停用吗？',function(index){
            //此处请求后台程序，下方是成功后的前台处理……

            $(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_start(this,id)" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已禁用</span>');
            $(obj).remove();
            layer.msg('已停用!',{icon: 5,time:1000});
        });
    }

    /*管理员-启用*/
    function admin_start(obj,id){
        layer.confirm('确认要启用吗？',function(index){
            //此处请求后台程序，下方是成功后的前台处理……


            $(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_stop(this,id)" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
            $(obj).remove();
            layer.msg('已启用!', {icon: 6,time:1000});
        });
    }
    
    
    function loading_show(msg) {
        if(msg){
            $('#loading').find('.loading-content').text(msg);
        }
        $('#loading').show();
    }

    function loading_hide() {
        $('#loading').hide();
    }

    $(document).ready(function () {
        $('.Wdate').attr('readonly',true);
    });
</script>
</body>
</html>