{extend name="public/base" /}

{block name="body"}
<{:get_page_nav()}>

<div class="page-container">

    <form method="get" action="">
        <div class="text-c">
            ID：<input type="text" class="input-text" name="id" value="<?php echo isset($_GET['id']) ? $_GET['id'] : ''?>" style="width:180px;">
            <span class="select-box" style="width:200px;">
            <select class="select" name="modify_type">
                <option value="">选择修改类型</option>
                <?php foreach($updateTypes as $k=>$v):?>
                    <option value="<{$k}>" <?php if(isset($_GET['modify_type']) && $_GET['modify_type'] !== '' && $_GET['modify_type'] == $k):?>selected="selected"<?php endif;?> ><{$v}></option>
                <?php endforeach;?>
            </select>
            </span>
            <input type="text" id="start-date" name="start_date" value="<?php echo isset($_GET['start_date']) ? $_GET['start_date'] : ''?>" class="input-text Wdate" style="width:180px;">
            -
            <input type="text" id="end-date" name="end_date" value="<?php echo isset($_GET['end_date']) ? $_GET['end_date'] : ''?>" class="input-text Wdate" style="width:180px;">

            <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 查询</button>
        </div>
    </form>


    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">

        </span>
    </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr class="text-c">
            <th>用户ID</th>
            <th>昵称</th>
            <th>修改类型</th>
            <th>修改数值</th>
            <th>修改原因</th>
            <th>修改时间</th>
            <th>操作员</th>
        </tr>
        </thead>
        <tbody>
        <?php if($data):?>
        <?php foreach($data as $k=>$v):?>
        <tr class="text-c">
            <td><?php echo $v['user_id']?></td>
            <td><?php echo $v['user_name']?></td>
            <td><?php echo isset($updateTypes[$v['opt_type']]) ? $updateTypes[$v['opt_type']] : ''?></td>
            <td><?php echo $v['opt_val']?></td>
            <td><?php echo $v['reason']?></td>
            <td><?php echo date('Y-m-d H:i:s',$v['add_time']);?></td>
            <td><{$v.admin_uid|get_admin_name}></td>
        </tr>
        <?php endforeach;?>
        <?php endif;?>
        </tbody>
    </table>
    <div class="dataTables_wrapper no-footer">
        <{$page}>
    </div>

</div>
{/block}


{block name="javascript"}

<script type="text/javascript" src="__LIB__/laydate/laydate.js"></script>

<script type="text/javascript">

    $(function () {
        laydate.render({
            elem: '#start-date' //指定元素
            ,type:'datetime'
        });
        laydate.render({
            elem: '#end-date' //指定元素
            ,type:'datetime'
        });
    })


    function del_user(id,msg){
        if(!id){return false;}
        layer.confirm(msg,function(){
            $.ajax({
                url:'<{:URL("User/ajax_delete")}>',
                type:'POST',
                dataType:'json',
                data:{'id':id},
                success:function(data){
                    if(data.status == 'y'){
                        layer.msg(data.msg,{icon:1},function(){
                            window.location.reload();
                        });
                    }else{
                        layer.msg(data.msg,{icon:5});
                    }
                },
                error:function(){
                    layer.msg('服务器错误',{icon:5});
                }
            });
        });
    }
</script>
{/block}