{extend name="public/base" /}

{block name="css"}
<style type="text/css">
	.table tbody tr.active,.table tbody tr.active>td,.table tbody tr.active>th,.table tbody tr .active{background-color:#F5F5F5!important}
	label.error{top:12px;}
	.input-text[type="number"]{width:100%;}
	.teacher-info-hide{display: none;}
	#token-error{right:47px;}
</style>
{/block}


{block name="body"}
<article class="page-container" style="padding:0;">
	<form class="form form-horizontal" id="form-menu-add" action="" method="post">
		<table class="table table-border table-bg table-bordered layer-table">
			<tbody>
			<tr>

				<th class="title">渠道id</th>
				<td width="240px;">
					<input type="text" class="input-text" name="channel_id">
				</td>

				<th class="title">渠道名称</th>
				<td width="240px;">
					<input type="text" class="input-text" name="channel_name">
				</td>

			</tr>


			<tr>

				<th class="title">token</th>
				<td>
					<input type="text" class="input-text" name="token" id="token" style="position: relative;padding-right:36px;">
					<a href="javascript:makeToken();" style="position: absolute;text-decoration:none;right:9px;height:31px;line-height: 31px;padding:0 6px;" class="btn-success">生成</a>
				</td>

				<th class="title">状态</th>
				<td>
					<div class="radio-box">
						<input name="status" type="radio" id="display-1" value="0" checked>
						<label for="display-1">启用</label>
					</div>
					<div class="radio-box">
						<input type="radio" id="display-2" value="1" name="status">
						<label for="display-2">禁用</label>
					</div>
				</td>

			</tr>

			<tr class="form-btn">
				<td colspan="4">
					<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
				</td>

			</tr>

			</tbody>

		</table>
	</form>
</article>
{/block}


{block name="javascript"}
<script type="text/javascript" src="__LIB__/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript">
    var selectRoleId = 0;
    $(function(){
        $.validator.addMethod("checkChannelId", function(value) {
            var ret = false;
            $.ajax({
                url:'<{:url("Channel/ajax_check_channel_id")}>',
                type:'post',
                dataType:'json',
                async:false,
                data:{'channel_id':value},
                success:function (data) {
                    if(data.status == 'y'){
                        ret = true;
                    }
                },
                error:function (errData) {
                    ret = false;
                }
            });
            return ret;

        }, '渠道id已存在!');

        $.validator.addMethod("checkChannelToken", function(value) {
            var ret = false;
            $.ajax({
                url:'<{:url("Channel/ajax_check_channel_token")}>',
                type:'post',
                dataType:'json',
                async:false,
                data:{'token':value},
                success:function (data) {
                    if(data.status == 'y'){
                        ret = true;
                    }
                },
                error:function (errData) {
                    ret = false;
                }
            });
            return ret;

        }, 'token已存在!');

        $('#role-id').on('change',function(){
            selectRoleId = $(this).val();
            if($(this).val() == 4){
                console.log($(this).val());
                $('.teacher-info').show();
            }else{
                $('.teacher-info').hide();
            }

        });

        $("#form-menu-add").validate({
            rules:{
                channel_id:{
                    required:true,
                    checkChannelId:true
                },

                channel_name:{
                    required:true,
                },
                token:{
                    required:true,
                    checkChannelToken:true
                }
            },messages: {
                channel_id: {
                    required: '请输入渠道id!'
                },
                channel_name: {
                    required: '请输入渠道名称!'
                },
                token: {
                    required: '请输入token!'
                }
            },
            onkeyup:false,
            focusCleanup:false,
            success:"valid",
            submitHandler:function(form){
                $(form).ajaxSubmit({success:function(data){
                    if(data.status == 'y'){
                        parent.layer.msg('添加成功！',{time:1500,icon:1},function(){
                            parent.location.reload();
                        });
                        return false;
                    }else{
                        parent.layer.msg(data.msg,{icon:5});
                    }
                }
                });

            }
        });


    });


    function makeToken() {
        var randomStr = "1234567890abcdefghijklmnopqrstuvwxyzABCDEFGHIJLKMNOPQRSTUVWXYZ";
        var randomLen = randomStr.length;
        var len = 10;
        var str = '',index=0;
        for(var i=0;i<len;i++){
            index = Math.floor(Math.random()*randomLen);
            str += randomStr.substr(index,1);
        }
        $('#token').val(str);
    }
</script>
{/block}